.movieCard{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  min-width: 300px; 
  height: 168.75px;
  padding: 2.5px;
}

.movieCard:hover{
  transition: .3s ease;
  z-index: 100;
  position: relative;
  transform: scale(1.15);
}

.cornerText{
  position: absolute;
  text-shadow: .25px .25px 5px black;
  color: var(--text-color);
  padding: 5px;
}
.topRight {
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.topLeft {
  padding: 5px;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
.bottomLeft {
  padding: 5px;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
.bottomRight {
  padding: 5px;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}
.title {
  align-self: center;
  justify-self: center;
  font-size: 24px;
  text-align: center;
  font-weight: bolder;
}

/* .movieCard:hover .hoverText{
  animation-delay: 1s;
  color: white;
  transition-delay: 5s;
  transition: .3s ease;
  position: relative;
  z-index: 1000;
  overflow: auto;
} */

.movieCard:hover .hiddenInfo{
  top: 0px;  
  color: white;
  transition: 1s ease;
}

.movieCard:hover .hiddenInfo{
  overflow: hidden;
  border-radius: 5px;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

.hiddenInfo{
  color: var(--text-color);
  background-color: var(--overlay-color);
  position: absolute;
  top: 100%;
  width: 100%;
}

.movieCard img{
  height: 168.75px;
  width: 300px;
  border-radius: 5px;
  margin: 2.5px;
}

.movieCard h1{
  text-align: center;
}

.infoButton{
  filter:drop-shadow(0px 0px 1px black)
}

.infoButton:hover{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.infoButton:hover{
  box-shadow: 0px 0px 5px white;
  border-radius: 100px;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-3px);
		-ms-transform:     translateY(-3px);
		transform:         translateY(-3px)
	}
	60% {
		-webkit-transform: translateY(-1.5px);
		-ms-transform:     translateY(-1.5px);
		transform:         translateY(-1.5px)
	}
}