.categoryContainerWrapper{
  position: relative;
  padding-left: 30px;
  margin-top: 30px;
}
.categoryContainerWrapper h1{
  font-size: 40px;
}
.categoryContainer{
  height: 168.75px;
  display: flex;
  align-items: center;
  transition: .3s ease;
  transform: 0%;
}

.categoryContainer:hover .scrollButton{
  display:block;
}

.scrollButton{
  position: relative;
  font-size: 18px;
  z-index: 1000;
  display: flex;
  cursor: pointer;
  height: 168.75px;
  background-color: #000000cc;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.scrollRight{
  position: absolute;
  right: 0px;
  display: flex;
  top: 57px;
}

.scrollLeft{
  position: absolute;
  left: 0px;
  top: 57px;
  z-index: 1000;
}

.scrollButton:hover{
  width: 70px;
  transition: .3s ease;
}