.categoryContainerWrapper{
  position: relative;
}
.categoryContainer{
  height: 168.75px;
  display: flex;
  align-items: flex-start;
  transition: .3s ease;
  transform: 0%;
}

.categoryContainer:hover .scrollButton{
  display:block;
}

.scrollButton{
  position: relative;
  font-size: 18px;
  z-index: 1000;
  display: flex;
  cursor: pointer;
  height: 168.75px;
  background-color: rgba(0, 0, 0, .8);
  justify-content: center;
  align-items: center;
  width: 40px;
}

.scrollRight{
  position: absolute;
  right: 0px;
  display: flex;
  top: 44px;
}

.scrollLeft{
  position: absolute;
  left: 0px;
  top: 44px;
  display: none;
}

.scrollButton:hover{
  width: 70px;
  transition: .3s ease;
}