.video-responsive {
  overflow: hidden;
  height: 168.75px;
  width: 303px;
}

.video-responsive iframe {
  position: absolute;
  width: 313px;
  height: 175px;
  border: 0px;
}

.spinnerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
  width: 100%;
}